# Binaries for programs and plugins
*.exe
*.darwin
*.dragonfly
*.freebsd
*.linux
*.netbsd
*.openbsd
*.plan9
*.solaris
*.windows
*.bin

# Test binaries and data
*_test
*.test
testdata/

# Go build cache
.cache/
go.work.sum

# External tool caches
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace

# Dependency directories
vendor/

# Local configuration files
.env
*.local
.vaulty

# macOS specific files
.AppleDouble
.LSOverride

# Linux specific files
.directory

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE specific files
# GoLand
.idea/
# VS Code
.vscode/
# Sublime Text
*.sublime-project
*.sublime-workspace
# Eclipse
.project
.classpath
.settings/
# Atom
.atom/

# Project-specific build and debug outputs
simapp/build
debug_*
__debug*
tmp_*

# Generated OpenAPI/Swagger artifacts
openapi/
tmp-swagger-gen/

# Go version file
.go-version

# Vault runtime
.vaulty/
